$bgColor: #EFFBFB;
$txtColor: #333333;
$subColor: #3BA6CA;
$btnColor: linear-gradient(to right, #EE3ECA, #6922B1);
$contactColor: linear-gradient(to right, #06A6FA, #64FBD7);

@mixin second-title {
    display: block;
    font-size: 0.95rem;
    color: $subColor;
    margin-top: 15px;
    font-weight: 900;
    margin-bottom: 60px;
}

@mixin title {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 40px;
}


html {
    font-family: "Noto Sans JP", sans-serif;
    color: $txtColor;
    font-weight: 700;
    font-size: 16px;
}

.sp_only {
    display: none;
}

.pc_only {
    display: block;
}

@media(max-width:768px) {
    html {
        font-size: 15px;

        .pc_only {
            display: none;
        }

        .sp_only {
            display: block;
        }
    }
}

@media(max-width:768px) {
    .wrap {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: $txtColor;
}

li {
    list-style: none;
}

.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 85px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #fff;

    &-inner {
        max-width: 1024px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &-logo {
        display: flex;
        align-items: center;

        :hover {
            opacity: 0.8;
        }
    }

    img {
        width: 47px;
        margin-right: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    &-humburger {
        display: none;
    }

    ul {
        display: flex;

        li {
            padding-right: 35px;
        }
    }

    &-btn {
        width: 155px;
        height: 35px;
        background: $btnColor;
        display: block;
        border-radius: 10px;
        text-align: center;
        line-height: 35px;

        a {
            color: #fff;
        }
    }
}

@media(max-width:768px) {
    .header {

        &-inner {
            max-width: 768px;
            padding: 20px;
            box-sizing: border-box;
            justify-content: space-between;
            position: relative;
        }

        #header-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            right: -100%;
            transition: right .5s;


            ul {
                height: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    margin: 0 0 30px;
                }
            }
        }

        #header-nav.sp_open {
            right: 0;
        }

        #drawer-toggle {
            position: relative;
            /*ボタン内側の基点となるためrelativeを指定*/
            cursor: pointer;
            width: 30px;
            height: 25px;
            z-index: 999;

            /*ボタン内側*/
            span {
                display: inline-block;
                transition: all .4s;
                /*アニメーションの設定*/
                position: absolute;
                height: 3px;
                border-radius: 3px;
                background: #333;
                width: 100%;
            }

            span:nth-of-type(1) {
                top: 5px;
            }

            span:nth-of-type(2) {
                top: 15px;
            }

            span:nth-of-type(3) {
                top: 25px;
            }
        }

        /*activeクラスが付与されると線が回転して×に*/

        #drawer-toggle.active span:nth-of-type(1) {
            top: 10px;
            transform: translateY(6px) rotate(-45deg);
            width: 100%;
        }

        #drawer-toggle.active span:nth-of-type(2) {
            opacity: 0;
            /*真ん中の線は透過*/
        }

        #drawer-toggle.active span:nth-of-type(3) {
            top: 22px;
            transform: translateY(-6px) rotate(45deg);
            width: 100%;
        }


        &-btn {
            display: none;
        }



    }
}



/*------------------------
メイン
-------------------------*/


.main {
    background-image: url(img/楕円形\ 1.svg);
    background-repeat: no-repeat;
    background-position: top -68px right -80px;
    background-size: auto;
    position: relative;

    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding: 240px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-txt {
        text-align: left;

        h2 {
            font-size: 2.1rem;
            line-height: 1.4;
            margin-bottom: 40px;
        }

        p {
            margin-bottom: 35px;
            line-height: 1.4;
        }
    }

    &-img {
        position: absolute;
        top: 23%;
        right: 15%;
        z-index: 1000;
    }

    &-btn {
        width: 155px;
        height: 35px;
        background: $btnColor;
        display: block;
        border-radius: 10px;
        text-align: center;
        line-height: 35px;

        a {
            color: #fff;
        }
    }
}

@media(max-width:768px) {
    .main {
        background-size: cover;
        background-position: top -40px right -180px;

        &-inner {
            margin-left: 15px;
            padding-top: 200px;
            padding-bottom: 300px;
        }

        &-txt {
            text-align: center;
        }

        &-btn {
            margin-left: auto;
            margin-right: auto;
        }

        &-img {
            width: 200px;
            top: 67%;
            right: 25%;
        }
    }
}


/*------------------------
3つの特徴
-------------------------*/

#feature {
    margin-top: -85px;
    padding-top: 85px;
}

.feature {
    padding-bottom: 50px;

    &-title {
        @include title;
    }

    span {
        @include second-title;
    }

    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    &-heading {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 45px;
    }

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 90px;

        h3 {
            font-size: 1.5rem;
            line-height: 1.8;
            margin-bottom: 45px;
        }

        p {
            line-height: 1.5;
        }
    }
}

@media(max-width:768px) {
    .feature {

        &-title {
            font-size: 1.9rem;
        }

        &-heading {
            font-size: 1.6rem;
        }

        &-box {
            display: block;
            margin-right: 35px;
            margin-left: 35px;
            text-align: center;

            figure {
                width: 280px;
                margin: 0 auto 15px;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 1.2rem;
            }
        }
    }
}


/*------------------------
価格
-------------------------*/

#price {
    margin-top: -85px;
    padding-top: 85px;
}

.price {
    background-color: $bgColor;
    padding-bottom: 50px;

    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    &-title {
        @include title;

        span {
            @include second-title;
        }
    }

    table {
        width: 100%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        background-color: #fff;
        border-collapse: collapse;

        th {
            width: 30%;
            padding: 30px;
            border: 1px solid #f0eded;
        }

        td {
            width: 70%;
            padding: 30px;
            border: 1px solid #f0eded;
            text-align: left;
        }
    }

    p {
        text-align: center;
        font-weight: normal;
        padding: 30px 0 10px;
    }
}

@media(max-width:768px) {
    .price {
        &-title {
            font-size: 1.9rem;
        }

        &-inner {
            margin: 0 30px;
        }

        table {
            display: inline-block;
            max-width: 630px;
            width: 100%;

            th {
                text-align: left;
                flex-wrap: wrap;
                padding: 30px 25px;
            }

            td {
                padding: 30px 25px;
            }

        }
    }

}

/*------------------------
Q&A
-------------------------*/

.question {
    padding: 50px 0 80px;

    h2 {
        @include title;

        span {
            @include second-title;
        }
    }

    &-inner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    &-list {
        width: 100%;

        dl dt {
            padding: 25px 0;
            text-align: center;
            background-color: #fff;
            font-size: 0.9rem;
            border: 1px solid #f0eded;
        }

        dl dd {
            display: none;
            padding: 25px 30px;
            text-align: center;
            background-color: #F2F2F2;
            font-size: 0.9rem;
            border: 1.5px solid #f0eded;
            text-align: left;
            line-height: 1.8;
        }
    }
}

@media(max-width:768px) {
    .question {

        &-title {
            font-size: 1.9rem;
        }

        &-inner {
            margin: 0 15px;
        }
    }
}

/*------------------------
ブログ
-------------------------*/

.blog {
    background-color: $bgColor;
    padding: 50px 0 80px;

    &-title {
        @include title;

        span {
            @include second-title;
        }
    }

    &-inner {
        padding: 0 70px;
    }

    &-list {
        display: flex;
        justify-content: space-between;
        width: 100%;

        article {
            width: 100%;
            margin-right: 30px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

            img {
                width: 100%;
            }

            .blog-text {
                background-color: #fff;
                padding: 20px 30px 10px 20px;
                font-size: 1.1rem;
                height: 150px;
                position: relative;

                time {
                    display: block;
                    text-align: right;
                    position: absolute;
                    bottom: 15px;
                    right: 35px;
                }
            }
        }

        .third:nth-child(3) {
            margin-right: 0;
        }
    }
}

@media(max-width:768px) {
    .blog {

        &-title {
            font-size: 1.9rem;
        }

        &-inner {
            padding: 0 15px;
        }

        &-list {
            display: block;

            article {
                margin-bottom: 30px;
            }
        }
    }
}




/*------------------------
制作実績
-------------------------*/

.achievements {
    padding: 50px 0 180px;

    &-title {
        @include title;

        span {
            @include second-title;
        }
    }

    &-inner {
        margin-right: 120px;
    }

    &-slider {
        display: flex;
        visibility: hidden;

        .slider-item {
            width: 300px;
            height: 420px;
            margin-right: 50px;
            border: 1px solid #f0eded;
            border-radius: 10px;

            img {
                width: 100%;
            }

            .item-text {
                padding: 20px 15px 0;

                p {
                    padding-bottom: 30px;
                }
            }
        }
    }

    &-slider.slick-initialized {
        visibility: visible;
    }
}

@media(max-width:768px) {
    .achievements {

        &-title {
            font-size: 1.9rem;
        }

        &-inner {
            margin-right: 0;
        }

        &-slider {
            .slider-item {
                width: 230px;
                margin-right: 20px;
            }
        }
    }
}


/*------------------------
お問い合わせ
-------------------------*/

#contact {
    margin-top: -85px;
    padding-top: 85px;
}


.contact {
    background: $contactColor;
    padding: 50px 0 80px;

    &-title {
        @include title;
        color: #fff;

        span {
            @include second-title;
            color: #fff;
        }
    }

    p {
        text-align: center;
        color: #FFF;
        padding-bottom: 40px;
    }

    &-inner {
        max-width: 1024px;
        margin: 0 auto;
    }

    &-form {
        width: 100%;
        background-color: #fff;
        padding: 40px 80px 40px 60px;
        margin: 0 25px;

        label::after {
            content: '必須';
            padding: 4px 15px;
            color: #FFF;
            background-color: #0C449B;
            line-height: 25px;
            border-radius: 10px;
            margin-left: 20px;
            font-size: 0.9rem;
        }

        input[type="text"] {
            margin: 40px 0;
            height: 42px;
            border: none;
            background-color: #EFFBFB;
            font-size: 0.9rem;
            font-weight: normal;
            padding-left: 10px;
            max-width: 500px;
            width: 100%;
        }

        textarea {
            margin: 30px 0;
            height: 42px;
            border: none;
            background-color: #EFFBFB;
            font-size: 0.9rem;
            font-weight: normal;
            padding-left: 10px;
            width: 100%;
            resize: none;
            outline: none;
            height: 160px;
            line-height: 1.5;
            padding-top: 10px;
        }

        .privacy {
            text-align: center;

            input {
                width: 20px;
                height: 20px;
                border-radius: 0;
                vertical-align: middle;
                margin-right: 10px;
            }

            label {
                font-size: 0.9rem;
            }

            label::after {
                display: none;
            }
        }

        .submit-btn {
            margin: 30px auto 10px;
            width: 120px;
            height: 35px;
            background: $btnColor;
            display: block;
            border-radius: 10px;
            text-align: center;
            line-height: 35px;
            font-size: 0.9rem;

            a {
                display: block;
                color: #FFF;
            }
        }

    }

}

@media(max-width:768px) {
    .contact {
        &-title {
            font-size: 1.9rem;
        }

        &-inner {
            max-width: 768px;
            margin-left: 15px;
            margin-right: 15px;
        }

        &-form {
            width: 100%;
            padding: 30px 15px 30px 15px;
            margin: 0;
            box-sizing: border-box;

            input[type="text"] {
                margin: 20px 0;
                width: 100%;
            }
    
        }
    }
}

/*------------------------
　フッター
-------------------------*/

footer {
    text-align: center;
    padding: 30px;

    p {
        font-size: 1.5rem;
    }

    .footer-txt {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 1rem;
            margin-right: 30px;
            margin-top: 20px;
            margin-bottom: 50px;
        }

        p:nth-child(2) {
            margin-right: 0;
        }
    }

    small {
        font-size: 0.9rem;
        font-weight: lighter;
    }

}

@media(max-width:768px)  {
    footer {
        p {
            font-size: 1.3rem;
        }

        .footer-txt {
            display: block;
            margin: 15px auto;
            
            p {
                font-size: 0.8rem;
                margin: 5px auto;
            }
        }
    }
}